{% extends 'base.html' %}
{% load gallery_tags %}
{% block content %}

<!-- Hero Section Begin -->
    {% slider %}
<!-- Hero Section End -->

<!-- Categories Section Begin -->
<section class="categories spad">
    <div class="categories__post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    {% if post_list %}
                    {% for post in post_list %}
                    {% if forloop.first %}
                    <div class="categories__post__item categories__post__item--large">
                        <div class="categories__post__item__pic set-bg"
                             data-setbg="{{ post.image.url }}">
                            <div class="post__meta">
                                <h4>{{ post.create_at|date:"d" }}</h4>
                                <span>{{ post.create_at|date:"M" }}</span>
                            </div>
                        </div>
                        <div class="categories__post__item__text">
                            <ul class="post__label--large">
                                {% if post.category.parent %}
                                <li>{{ post.category.parent }}</li>
                                {% endif %}
                                <li>{{ post.category }}</li>
                            </ul>
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            <ul class="post__widget">
                                <li>by <span>{{ post.auther }}</span></li>
                                <li>3 min read</li>
                                <li>{{ post.comments.count }}</li>
                            </ul>
                            <p>{{ post.text|truncatewords:20 }}</p>
                            <a href="{{ post.get_absolute_url }}" class="primary-btn">Read more</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            {% for post in post_list %}
                            {% if forloop.counter <= 5 and forloop.counter != 1 %}
                            <div class="categories__post__item">
                                <div class="categories__post__item__pic small__item set-bg"
                                     data-setbg="{{ post.image.url }}">
                                    <div class="post__meta">
                                        <h4>{{ post.create_at|date:"d" }}</h4>
                                        <span>{{ post.create_at|date:"M" }}</span>
                                    </div>
                                </div>
                                <div class="categories__post__item__text">
                                    <span class="post__label">{{ post.category }}</span>
                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                    <ul class="post__widget">
                                        <li>by <span>{{ post.auther }}</span></li>
                                        <li>3 min read</li>
                                        <li>{{ post.comments.count }}</li>
                                    </ul>
                                    <p>{{ post.text|truncatewords:20 }}</p>

                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            {% for post in post_list %}
                            {% if forloop.counter > 6 %}
                            <div class="categories__post__item">
                                <div class="categories__post__item__pic smaller__large set-bg"
                                     data-setbg="{{ post.image.url }}">
                                    <div class="post__meta">
                                        <h4>{{ post.create_at|date:"d" }}</h4>
                                        <span>{{ post.create_at|date:"M" }}</span>
                                    </div>
                                </div>
                                <div class="categories__post__item__text">
                                    <span class="post__label">{{ post.category }}</span>
                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                    <ul class="post__widget">
                                        <li>by <span>{{ post.auther }}</span></li>
                                        <li>3 min read</li>
                                        <li>{{ post.comments.count }}</li>
                                    </ul>
                                    <p>{{ post.text|truncatewords:20 }}</p>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <h3 style="text-align: center;">Not results</h3>
                    {% endif %}
                </div>
                {% include 'include/sidebar.html' %}
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

{% endblock %}